<div id="display">
  {{#if isOn}}
    ON
    {{level}}
  {{else}}
    OFF
  {{/if}}
</div>

<button {{action 'turnOff'}}>
  OFF
</button>

<button {{action 'turnOn'}}>
  ON
</button>

<button {{action 'nextLevel'}}>
  LEVEL
</button>
