<div id="little-professor">
  {{#if isOn}}
    {{#if (eq mode 'settings')}}
      {{render-display operator=operator level=level}}
    {{else if (eq mode 'game')}}
      {{#if isComplete}}
        {{render-display answer=correctAnswerCount blink=true}}
      {{else}}
        {{#if isIncorrect}}
          {{render-display isError=true}}
        {{else}}
          {{render-display
            operator=problem.operator
            termOne=problem.termOne
            termTwo=problem.termTwo
            isEqualVisible=true
            answer=answer
          }}
        {{/if}}
      {{/if}}
    {{/if}}
  {{else}}
    {{render-display}}
  {{/if}}
  <div id="main">
    <div id="face">
      &nbsp;
    </div>
    <div id="buttons">
      <div class="button-row">
        {{labeled-button label='OFF' onPress=(action 'turnOff')}}
        <div class="button-item">&nbsp;</div>
        {{labeled-button label='SET' onPress=(action 'changeSettings')}}
        {{labeled-button label='LEVEL' onPress=(action 'nextLevel')}}
      </div>

      <div class="button-row">
        {{labeled-button value=7 onPress=(action 'pressDigit')}}
        {{labeled-button value=8 onPress=(action 'pressDigit')}}
        {{labeled-button value=9 onPress=(action 'pressDigit')}}
        {{labeled-button value='/' label=(format-operator '/') onPress=(action 'changeOperator')}}
      </div>

      <div class="button-row">
        {{labeled-button value=4 onPress=(action 'pressDigit')}}
        {{labeled-button value=5 onPress=(action 'pressDigit')}}
        {{labeled-button value=6 onPress=(action 'pressDigit')}}
        {{labeled-button value='*' label=(format-operator '*') onPress=(action 'changeOperator')}}
      </div>

      <div class="button-row">
        {{labeled-button value=1 onPress=(action 'pressDigit')}}
        {{labeled-button value=2 onPress=(action 'pressDigit')}}
        {{labeled-button value=3 onPress=(action 'pressDigit')}}
        {{labeled-button value='-' label=(format-operator '-') onPress=(action 'changeOperator')}}
      </div>

      <div class="button-row">
        {{labeled-button label='ON' onPress=(action 'turnOn')}}
        {{labeled-button value=0 onPress=(action 'pressDigit')}}
        {{labeled-button label='GO' onPress=(action 'go')}}
        {{labeled-button value='+' label=(format-operator '+') onPress=(action 'changeOperator')}}
      </div>

    </div>
  </div>

  <div id="product-name">
    Little Professor &#8482;
  </div>
</div>
