<div id="display">
  {{#if isOn}}
    {{format-operator operator}}
    L
    {{level}}
  {{else}}
    &nbsp;
  {{/if}}
</div>

<button {{action 'turnOff'}}>
  OFF
</button>

<button {{action 'turnOn'}}>
  ON
</button>

<button {{action 'nextLevel'}}>
  LEVEL
</button>

{{change-operator-button operator='+' onClick=(action 'changeOperator')}}

{{change-operator-button operator='-' onClick=(action 'changeOperator')}}

{{change-operator-button operator='%' onClick=(action 'changeOperator')}}

{{change-operator-button operator='*' onClick=(action 'changeOperator')}}
