<div id="display">
  {{#if isOn}}
    {{#if (eq mode 'settings')}}
      {{format-operator operator}}
      L
      {{level}}
    {{else if (eq mode 'game')}}
      {{#if isComplete}}
        <span class="blink">
          {{correctAnswerCount}}
        </span>
      {{else}}
        {{#if isIncorrect}}
          EEE
        {{else}}
          {{problem.termOne}}
          {{format-operator problem.operator}}
          {{problem.termTwo}}
          =
          {{answer}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{else}}
    &nbsp;
  {{/if}}
</div>

<button {{action 'turnOff'}}>
  OFF
</button>

<button {{action 'turnOn'}}>
  ON
</button>

<button {{action 'nextLevel'}}>
  LEVEL
</button>

<button {{action 'go'}}>
  GO
</button>

<button {{action 'changeSettings'}}>
  SET
</button>

{{change-operator-button operator='+' onClick=(action 'changeOperator')}}

{{change-operator-button operator='-' onClick=(action 'changeOperator')}}

{{change-operator-button operator='%' onClick=(action 'changeOperator')}}

{{change-operator-button operator='*' onClick=(action 'changeOperator')}}

<div>
  {{#each digits as |digit|}}
    <button {{action 'pressDigit' digit}}>
      {{digit}}
    </button>
  {{/each}}
</div>
